@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@100..900&display=swap');

/*
#6970FD header 
#5F64D4 header shade/button font
#8AF3FF button
#72C2CB button shade */

* {
    text-decoration: none;
    list-style: none;
    font-family: 'Balsamiq Sans', "M PLUS Rounded 1c", 'sans-serif';
    color:#fff;
    margin:0;
    padding:0;
}

.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
html, body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #6970FD;
}

.logo {
    font-size: 55px;
    cursor: pointer;
    padding: 10px;
}

.headershadow {
    background-color: #5F64D4;
}

.hamburger {
    display: block;
    z-index: 5;
    cursor: pointer;
    position: relative;
    padding: 10px;
    background-color: transparent;
    margin-top: 1em;
}

.bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.dropdown ul {
    display: list-item;
    list-style:circle;
    list-style-position: outside;
}

.nav-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: -200px;
    left: 0;
    width: 100%;
    z-index: 3;
    overflow: hidden;
}

.nav-menu:visited,
.nav-menuresponsive:visited {
    color: white;
    background-color: transparent;
}

.nav-menuresponsive {
    display:flex;
    flex-direction: column;
    text-align: left;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    padding: 1em;
    transition: all .55s ease;
    background-color: #5F64D4;
}

.dropdown, .dropbtn {
    margin: 0;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6970FD;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    left: 0;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown:hover {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

i {
    padding-left:5px;
}

.headertext {
    background-color:#6970FD;
    text-align: center;
    padding:10px;
}

/* Body */
.container h2, .container p {
    color:#5F64D4;
}

.menucontainer {
    margin: 2em 5em 2em 4em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:normal;
    gap:10px;
    flex-wrap: wrap; 
}

section.menucontainer a {
    background-color: #8AF3FF;
    cursor:pointer;
    font-size:36px;
    outline: none;
    font-family: inherit;
    margin: 0;
    overflow: hidden;
    border: 5px solid #72C2CB;
    border-radius: 1em;
    padding:10px;
}

section.menucontainer a span {
    color:#5F64D4;
}

section.container {
    margin:1em;
    color:#5F64D4;
    background-color: #fff;
}

section.container h2 {
    margin-top:1em;
}

table {
    margin-top:1em;
}



tr, td {
    border: 5px solid #72C2CB;
    padding:5px;
}

th, tr {
    background-color: #8AF3FF;
}

thead {
    background-color: #fff;
}

th, tr, td {
    font-family: "M PLUS Rounded 1c";
    color:#5F64D4;
    font-size:28px;
    font-weight:bold;
    border-radius: 10px;
}

.blank {
    background-color: #fff;
    border:none;
}

.tablecellimage {
    background-color: #8AF3FF;
    padding:10px;
    font-size:40px;
}

table tbody tr td span:not(.playbutton) {
    color:#5F64D4;
}

.tablecelltitle {
    background-color: #8AF3FF;
    padding:10px;
}

.tablecellbutton {
    background-color: green;
    border-radius: 10px;
    border:none;
}

.tableimage {
    width:100%;
}

.playbutton {
    padding:10px;
}

.tablecellbutton:hover {
    background-color: greenyellow;
    transition: 1s;
}

/* Footer */
footer {
    background-color: #6970FD;
    font-size: 36px;
    padding:10px;
}
.socialicons {
    display:flex;
    justify-content:center;
    gap:1em;
}

.socialicons li:hover {
    transform: translateY(-10px);
    transition: all 0.55s ease-in-out;
}

/* Media Queries */
@media screen and (max-width:555px) {
}

@media screen and (max-width: 979px) {
}

@media only screen and (min-width: 980px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1450px) {
}